---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/FooterStevector.astro';
import Nav from '../components/NavStevector.astro';
---

<html lang="en">
	<head>
		<MainHead title="About | Steve Persch" description="The website of Steve Persch, a 30-something Internet person" />
	</head>
	<body>

		<div class="layout-container">

		
		<Nav />
		<main>
			

			<div id="main-content" tabindex="-1">
				<div class="layout-content">
					<div>
				<div id="block-starky-content">
			  
				
				  <div class="views-element-container"><div class="js-view-dom-id-6594f9397609f2296abb854690014d2f824ed44d881e082e1533bb009f8d51b0">
			  
			
				  <div class="views-row"><article data-history-node-id="83" role="article" about="/2021/10/pause-points-checklists">
			
			  
				  <h2>
				  <a href="/2021/10/pause-points-checklists" rel="bookmark"><span>Inspiration from The Checklist Manifesto: Pause point checklists for my workday</span>
			</a>
				</h2>
				
			
			  
			  <div>
				
			  <div class="field field--name-field-date-published field--type-datetime field--label-inline clearfix">
				<div class="field__label">Published on</div>
						  <div class="field__item">October 14th, 2021</div>
					  </div>
			
				  <div class="field field--name-field-text-pull-quotes field--type-text-long field--label-hidden field__items">
						  <div class="field__item"><blockquote>
			<p>I saw a similarity between these three surgical checklists for moments to catch errors and three times in my workday that I needed to check myself.</p>
			</blockquote></div>
					  </div>
			  
			  </div>
			
			
			<p class="read-more-link"><a href="/2021/10/pause-points-checklists">Read full blog post</a></p>
			
			</article>
			</div>
				<div class="views-row"><article data-history-node-id="81" role="article" about="/2016/09/drupal-7-to-8-migration-diary-part-4-migrating-remote-files-and-swapping-a-service-class">
			
			  
				  <h2>
				  <a href="/2016/09/drupal-7-to-8-migration-diary-part-4-migrating-remote-files-and-swapping-a-service-class" rel="bookmark"><span>Drupal 7 to 8 Migration Diary (Part 4): migrating remote files and swapping a service class</span>
			</a>
				</h2>
				
			
			  
			  <div>
				
			  <div class="field field--name-field-date-published field--type-datetime field--label-inline clearfix">
				<div class="field__label">Published on</div>
						  <div class="field__item">September 12th, 2016</div>
					  </div>
			
				  <div class="field field--name-field-text-pull-quotes field--type-text-long field--label-hidden field__items">
						  <div class="field__item"><blockquote>
			<p>I’ve been hearing about the marvels of services for years as Drupal 8 was developed. I had never replaced a service for a real site. I’m glad it worked as well as promised.</p>
			</blockquote></div>
					  </div>
			  
			  </div>
			
			
			<p class="read-more-link"><a href="/2016/09/drupal-7-to-8-migration-diary-part-4-migrating-remote-files-and-swapping-a-service-class">Read full blog post</a></p>
			
			</article>
			</div>
				<div class="views-row"><article data-history-node-id="80" role="article" about="/2016/06/drupal-7-to-8-migration-diary-part-3-regression-found">
			
			  
				  <h2>
				  <a href="/2016/06/drupal-7-to-8-migration-diary-part-3-regression-found" rel="bookmark"><span>Drupal 7 to 8 Migration Diary (Part 3): Regression found</span>
			</a>
				</h2>
				
			
			  
			  <div>
				
			  <div class="field field--name-field-date-published field--type-datetime field--label-inline clearfix">
				<div class="field__label">Published on</div>
						  <div class="field__item">June 12th, 2016</div>
					  </div>
			
				  <div class="field field--name-field-text-pull-quotes field--type-text-long field--label-hidden field__items">
						  <div class="field__item"><blockquote>
			<p>I think the main lesson I’m learning here is that I do still need regression tests for my migrations.</p>
			</blockquote></div>
					  </div>
			  
			  </div>
			
			
			<p class="read-more-link"><a href="/2016/06/drupal-7-to-8-migration-diary-part-3-regression-found">Read full blog post</a></p>
			
			</article>
			</div>
				<div class="views-row"><article data-history-node-id="79" role="article" about="/2016/06/drupal-7-to-8-migration-diary-part-2-using-configuration-installer-to-delay-a-canonical-database">
			
			  
				  <h2>
				  <a href="/2016/06/drupal-7-to-8-migration-diary-part-2-using-configuration-installer-to-delay-a-canonical-database" rel="bookmark"><span>Drupal 7 to 8 Migration Diary (Part 2): Using Configuration Installer to delay a canonical database</span>
			</a>
				</h2>
				
			
			  
			  <div>
				
			  <div class="field field--name-field-date-published field--type-datetime field--label-inline clearfix">
				<div class="field__label">Published on</div>
						  <div class="field__item">June 11th, 2016</div>
					  </div>
			
				  <div class="field field--name-field-text-pull-quotes field--type-text-long field--label-hidden field__items">
						  <div class="field__item"><blockquote>
			<p>Of the three, the database is easiest element to mess up and the hardest to fix after a mistaken change.</p>
			</blockquote></div>
					  </div>
			  
			  </div>
			
			
			<p class="read-more-link"><a href="/2016/06/drupal-7-to-8-migration-diary-part-2-using-configuration-installer-to-delay-a-canonical-database">Read full blog post</a></p>
			
			</article>
			</div>
				<div class="views-row"><article data-history-node-id="78" role="article" about="/2016/06/drupal-7-to-drupal-8-migration-diary-part-1-what-have-i-gotten-myself-into">
			
			  
				  <h2>
				  <a href="/2016/06/drupal-7-to-drupal-8-migration-diary-part-1-what-have-i-gotten-myself-into" rel="bookmark"><span>Drupal 7 to Drupal 8 Migration Diary (Part 1): What have I gotten myself into?</span>
			</a>
				</h2>
				
			
			  
			  <div>
				
			  <div class="field field--name-field-date-published field--type-datetime field--label-inline clearfix">
				<div class="field__label">Published on</div>
						  <div class="field__item">June 5th, 2016</div>
					  </div>
			
				  <div class="field field--name-field-text-pull-quotes field--type-text-long field--label-hidden field__items">
						  <div class="field__item"><blockquote>
			<p>So it’s a typical side project. Some parts are handled with great care. Some are sloppy and out of date.</p>
			</blockquote></div>
					  </div>
			  
			  </div>
			
			
			<p class="read-more-link"><a href="/2016/06/drupal-7-to-drupal-8-migration-diary-part-1-what-have-i-gotten-myself-into">Read full blog post</a></p>
			
			</article>
			</div>
				<div class="views-row"><article data-history-node-id="77" role="article" about="/2016/05/the-year-gone-by-the-months-ahead">
			
			  
				  <h2>
				  <a href="/2016/05/the-year-gone-by-the-months-ahead" rel="bookmark"><span>The year gone by, the months ahead</span>
			</a>
				</h2>
				
			
			  
			  <div>
				
			  <div class="field field--name-field-date-published field--type-datetime field--label-inline clearfix">
				<div class="field__label">Published on</div>
						  <div class="field__item">May 29th, 2016</div>
					  </div>
			
				  <div class="field field--name-field-text-pull-quotes field--type-text-long field--label-hidden field__items">
						  <div class="field__item"><blockquote>
			<p>In September 2015 I was very excited to join&nbsp;<a href="https://pantheon.io/">Pantheon</a>.</p>
			</blockquote></div>
					  </div>
			  
			  </div>
			
			
			<p class="read-more-link"><a href="/2016/05/the-year-gone-by-the-months-ahead">Read full blog post</a></p>
			
			</article>
			</div>
				<div class="views-row"><article data-history-node-id="76" role="article" about="/2015/06/drupalcon-la-html">
			
			  
				  <h2>
				  <a href="/2015/06/drupalcon-la-html" rel="bookmark"><span>Drupalcon Los Angeles presentations</span>
			</a>
				</h2>
				
			
			  
			  <div>
				
			  <div class="field field--name-field-date-published field--type-datetime field--label-inline clearfix">
				<div class="field__label">Published on</div>
						  <div class="field__item">June 1st, 2015</div>
					  </div>
			
				  <div class="field field--name-field-text-pull-quotes field--type-text-long field--label-hidden field__items">
						  <div class="field__item"><blockquote>
			<p>“Is the job of a Drupal theme to&nbsp;<em>look like</em>&nbsp;a design or to&nbsp;<em>be</em>&nbsp;the design?”</p>
			</blockquote></div>
					  </div>
			  
			  </div>
			
			
			<p class="read-more-link"><a href="/2015/06/drupalcon-la-html">Read full blog post</a></p>
			
			</article>
			</div>
				<div class="views-row"><article data-history-node-id="75" role="article" about="/2014/01/i-graphed-my-skyrocketing-exclamation-point-usage">
			
			  
				  <h2>
				  <a href="/2014/01/i-graphed-my-skyrocketing-exclamation-point-usage" rel="bookmark"><span>I graphed my skyrocketing exclamation point usage!</span>
			</a>
				</h2>
				
			
			  
			  <div>
				
			  <div class="field field--name-field-date-published field--type-datetime field--label-inline clearfix">
				<div class="field__label">Published on</div>
						  <div class="field__item">January 9th, 2014</div>
					  </div>
			
				  <div class="field field--name-field-text-pull-quotes field--type-text-long field--label-hidden field__items">
						  <div class="field__item"><blockquote>
			<p>I parsed over three years of my Google Voice data to look for exclamation points in my sent messages.</p>
			</blockquote></div>
					  </div>
			  
			  </div>
			
			
			<p class="read-more-link"><a href="/2014/01/i-graphed-my-skyrocketing-exclamation-point-usage">Read full blog post</a></p>
			
			</article>
			</div>
				<div class="views-row"><article data-history-node-id="74" role="article" about="/2013/10/make-your-drupal-8-theme-easier-to-maintain-with-this-one-weird-trick-twigs-extends-concept">
			
			  
				  <h2>
				  <a href="/2013/10/make-your-drupal-8-theme-easier-to-maintain-with-this-one-weird-trick-twigs-extends-concept" rel="bookmark"><span>Make your Drupal 8 theme easier to maintain with this one weird trick (Twig’s “extends” concept)</span>
			</a>
				</h2>
				
			
			  
			  <div>
				
			  <div class="field field--name-field-date-published field--type-datetime field--label-inline clearfix">
				<div class="field__label">Published on</div>
						  <div class="field__item">October 27th, 2013</div>
					  </div>
			
				  <div class="field field--name-field-text-pull-quotes field--type-text-long field--label-hidden field__items">
						  <div class="field__item"><blockquote>
			<p>Heavy use of the “extends” concept in Twig will start when developers start building Drupal 8 sites and adding site-specific themes.</p>
			</blockquote></div>
					  </div>
			  
			  </div>
			
			
			<p class="read-more-link"><a href="/2013/10/make-your-drupal-8-theme-easier-to-maintain-with-this-one-weird-trick-twigs-extends-concept">Read full blog post</a></p>
			
			</article>
			</div>
				<div class="views-row"><article data-history-node-id="73" role="article" about="/2013/08/fixing-typos-with-jekyll-and-github">
			
			  
				  <h2>
				  <a href="/2013/08/fixing-typos-with-jekyll-and-github" rel="bookmark"><span>Fixing typos with Jekyll and Github</span>
			</a>
				</h2>
				
			
			  
			  <div>
				
			  <div class="field field--name-field-date-published field--type-datetime field--label-inline clearfix">
				<div class="field__label">Published on</div>
						  <div class="field__item">August 8th, 2013</div>
					  </div>
			
				  <div class="field field--name-field-text-pull-quotes field--type-text-long field--label-hidden field__items">
						  <div class="field__item"><blockquote>
			<p>Github can help rid us of the most annoying part of the web: <s>comments</s>, typos.</p>
			</blockquote></div>
					  </div>
			  
			  </div>
			
			
			<p class="read-more-link"><a href="/2013/08/fixing-typos-with-jekyll-and-github">Read full blog post</a></p>
			
			</article>
			</div>
				<div class="views-row"><article data-history-node-id="72" role="article" about="/2013/06/plugin-haikus-drupalcon-portland-presentation">
			
			  
				  <h2>
				  <a href="/2013/06/plugin-haikus-drupalcon-portland-presentation" rel="bookmark"><span>Plugin Haikus – Drupalcon Portland presentation</span>
			</a>
				</h2>
				
			
			  
			  <div>
				
			  <div class="field field--name-field-date-published field--type-datetime field--label-inline clearfix">
				<div class="field__label">Published on</div>
						  <div class="field__item">June 30th, 2013</div>
					  </div>
			
				  <div class="field field--name-field-text-pull-quotes field--type-text-long field--label-hidden field__items">
						  <div class="field__item"><blockquote>
			<p>Give it a context<br>
			And some configuration.<br>
			Get back TRUE or FALSE.</p>
			</blockquote></div>
					  </div>
			  
			  </div>
			
			
			<p class="read-more-link"><a href="/2013/06/plugin-haikus-drupalcon-portland-presentation">Read full blog post</a></p>
			
			</article>
			</div>
				<div class="views-row"><article data-history-node-id="71" role="article" about="/2013/06/another-jekyll-blog">
			
			  
				  <h2>
				  <a href="/2013/06/another-jekyll-blog" rel="bookmark"><span>Another Jekyll blog</span>
			</a>
				</h2>
				
			
			  
			  <div>
				
			  <div class="field field--name-field-date-published field--type-datetime field--label-inline clearfix">
				<div class="field__label">Published on</div>
						  <div class="field__item">June 30th, 2013</div>
					  </div>
			
				  <div class="field field--name-field-text-pull-quotes field--type-text-long field--label-hidden field__items">
						  <div class="field__item"><blockquote>
			<p>Managing content with git will produce other unexpected modes of collaborating and I’m exciting to have a blog that can be a part of this shift.</p>
			</blockquote></div>
					  </div>
			  
			  </div>
			
			
			<p class="read-more-link"><a href="/2013/06/another-jekyll-blog">Read full blog post</a></p>
			
			</article>
			</div>
			
				
			
			  
			  
			
			  
			  
			</div>
			</div>
			
			  </div>
			
			  </div>
			
				</div>
					  <aside class="layout-sidebar-first" role="complementary">
					
				  </aside>
				
				
			  </div>				


			</main>

			<Footer />
	</div>

	</body>
</html>
